.App {
  text-align: center;
  height: 150px;
  padding: 20px

}

.App-header {
  background-color: white;
  height: 35px;
  padding: 20px;
  color: white;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}


.container {
  padding: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
